@font-face {
  font-family: 'PixelFont';
  src: url('/resources/fonts/Pixel.otf') format('truetype');
}

body {
  margin: 0;
  background: rgb(0,0,0);
 /* background: rgb(30,61,214);
  background: radial-gradient(circle, rgba(30,61,214,1) 0%, rgba(189,17,52,1) 100%);*/
}
.progress-bar-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 1);
  /*background: rgb(30,61,214);
  background: radial-gradient(circle, rgba(30,61,214,1) 0%, rgba(189,17,52,1) 100%);*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#titulo{
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent; /* Fondo transparente */
  color: rgb(255, 255, 255);
  font-size: 1.8rem;
  font-family: 'PixelFont', sans-serif;
  text-align: center;
}

#progress-bar {
  width: 25%;
  margin-top: 0.5%;
  height: 2%;
  background-color: white;
}

label {
  color: rgb(255, 255, 255);
  font-size: 2.5rem;
  font-family: 'PixelFont', sans-serif; 
}

#center-point {
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: rgb(77, 241, 85);
  border: 1px solid rgba(255, 255, 255, 0.5); /* Borde verde ligero */
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none; 
}

#continue-button {
  margin-top: 1rem;
  padding: 1rem 2rem; /* Hacer el botón más grande */
  font-size: 1.5rem; /* Aumentar el tamaño de la fuente */
  font-family: 'PixelFont', sans-serif;
  color: white;
  background-color: transparent; /* Fondo transparente */
  border: 2px dashed white; /* Borde cuadriculado */
  cursor: pointer;
}

#continue-button:hover {
  background-color: rgba(255, 255, 255, 0.1); /* Fondo ligeramente visible al pasar el ratón */
}

#salir {
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent; /* Fondo transparente */
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  font-family: 'PixelFont', sans-serif;
  text-align: center;
  display: none; /* Ocultar inicialmente */
}
